* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #CBEEF3;
}

.contariner {
    background-color: #EDAFB8;
    padding: 2rem;
    min-height: 45vh;
    width: 40vh;
    border-radius: 2rem;
}

.heading {
    text-align: center;
    color: #221D23;
}

form {
    height: 2rem 0 2rem 0;
}

form select, input, button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
   height: 1.8rem; 
   font-size: 1.2rem;
   padding-left: 0.5rem;
   border: 1.9px solid black;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}